@font-face {
    font-family: 'GoogleSans-Regular';
    src: local('GoogleSans-Regular'), url(../../fonts/FontGoogleSans/GoogleSans-Regular.woff) format('woff');
  }
 
  
  @media only screen and (min-width: 1023px) { 
    .dropDownCheckbox {
       position: absolute;
       visibility: hidden;
       display: none;
      }
      
      .mobileMenu {
        position: absolute;
       visibility: hidden;
       display: none;
      }
      
      .mobileMenu-content {
        position: absolute;
       visibility: hidden;
       display: none;
      }
      
      .mobileMenu-content li {
        position: absolute;
        visibility: hidden;
        display: none;
      }
  }

  @media only screen and (max-width: 1023px) { 
    .menuWrapper {
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0px;
      opacity: 1;
      
    }
  .dropDownCheckbox {
    
      border: none;
      font-size: 17px;
      font-weight: 600;
      font-family: 'GoogleSans-Regular';
      color: #212832;
      white-space:nowrap;
      z-index: 4;
      opacity:0;
      margin-left: -32px;
      margin-top: 10px;
      position: absolute;
      width: 20px;
      height: 20px;
    }
    
    .mobileMenu {
      opacity: 1;

      position: relative;
      display: inline-block;
      font-weight: 600;
      font-family: 'GoogleSans-Regular';
      font-size: 17px;
      color: #212832;
    }
    
    .mobileMenu-content {
      opacity: 1;
      display: none;
      position: absolute;
      background-color: #ffffff;
      width: 220px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 6;
      font-weight: 600;
      font-family: 'GoogleSans-Regular';
      font-size: 17px;
      color: #212832;
      right: -171px;
      height: 300px;
      margin-top: 10px;
      //border-radius: 25px;
    }
    

    .mobileMenu-content li {
      opacity: 1;
      color: black;
      padding: 17px 19px;
      text-decoration: none;
      display: block;
      z-index: -2;
      //border-radius: 25px;
    }
  

    
    .mobileMenu-content li:hover {background-color: rgb(247, 245, 233);}
    
    .dropDownCheckbox:checked ~ .mobileMenu-content {display: block;}

    .dropDownCheckbox:checked {
      width:100vw;
      height: 100vh;
      margin-left: -172px;
      z-index: 5;
      margin-top: -40px 
    }
  }

  
    
  