@media only screen and (min-width: 1024px) { 
  .navWrapper {
    width: 100%;
    top: 0px;
    z-index: 2;
    height: 112px;
    border-radius: 0 0 25px 25px;
    .nav {
        padding-top: 48px;
        display: flex;
        font-family: 'GoogleSans-Regular';
        z-index: 2;
        height: 65px;
        font-weight: 600;
        font-size: 17px;
        color: #212832;
        padding-left: 20px;
        flex-direction: row;
        line-height: 22px;
        letter-spacing: 0.02em;
        .nav__sectionLogo {
            margin-right: auto;
            padding-right: 12px;
            .logo{
                height: 37px;
                width: 117.2px;
            }
            .navBurger {
                visibility: hidden;
                position: absolute;
            }
        }
        .nav__section{
            display: flex;
            align-items: center;
            margin-left: auto;
            right: 0;
            min-width: 870px;
            margin-top: 20px;
            margin-right: 2px;
            LI{
                cursor: pointer;
                display: flex;
                align-items: center;
            }  
            .nav__itemDesitnations{
                margin-left: 30px;
                
            }  
            .nav__itemHotels{
                margin-left: 56px;
            }  
            .nav__itemFlights{
                margin-left: 65px;
            }  
            .nav__itemBookings{
                margin-left: 62px;
            }  
            .nav__itemMobileLogin{
                margin-left: 87px;
            }  
            .nav__itemMobileSignUp{
                margin-left: 51px;
                margin-top: -2px
            }  
            .nav__itemMobileLanguageDropDown {
                margin-left: 43px;
                margin-top: -3px
            }
            .nav__itemMobileBurger {
                padding: 0px 0px;
                display: flex;
                align-items: center;
            }
            .nav__itemMobileSignUp{
                cursor: pointer;
                display: flex;
                align-items: center;
                
                .nav__signUpButton {
                    border: 1px solid #212832;
                    border-radius: 5px;
                    width: 102px;
                    height: 40px;
                    font-weight: 600;
                    font-family: 'GoogleSans-Regular';
                    font-size: 17px;
                    color: #212832;
                    letter-spacing: 0.02em;
                  }
            }

           
          }

        }
    }
}



  @media only screen and (max-width: 1023px) { 
    .navWrapper {
        width: 100%;
        top: 0;
        min-width: 375px;
        z-index: 2;
        height: 84px;
        display: flex;
        align-items: center;
        border-radius: 0 0 0 0;
        .nav {
            display: flex;
            font-family: 'GoogleSans-Regular';
            z-index: 2;
            width: 100%;
            justify-content: space-between;
            height: 60px;
            font-weight: 600;
            font-size: 17px;
            color: #212832;
            padding: 0 13px;
            flex-direction: row;
            min-width: 375px;
            align-items: center;
            .nav__sectionLogo {
                margin-right: 0px;
                padding-right: 0px;
                display: flex;
                flex-direction: row;
                .logo{
                    height: 33.99px;
                    width: 114.91px;
                }
                .navBurger {
                    visibility: visible;
                    position: inherit;
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .nav__section{
                display: flex;
                justify-content: end;
                margin-left: auto;
                right: 0;
                width: 225px;
                margin-top: 10px; 
                .nav__itemDesitnations{
                    visibility: hidden;
                    position: absolute;
                }  
                .nav__itemHotels{
                    visibility: hidden;
                    position: absolute;
                }  
                .nav__itemFlights{
                    visibility: hidden;
                    position: absolute;
                }  
                .nav__itemBookings{
                    visibility: hidden;
                    position: absolute;
                }  
                
                .nav__itemMobileBurger {
                    padding: 10px 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                .nav__itemMobileSignUp{
                    padding: 10px 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    
                    .nav__signUpButton {
                        border: 0px solid #212832;
                        border-radius: 5px;
                        width: 60px;
                        height: 40px;
                        font-weight: 600;
                        font-family: 'GoogleSans-Regular';
                        font-size: 17px;
                        color: #212832;
                      }
                  }
                  .nav__itemMobileLogin{
                    padding: 10px 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                  }
                  .nav__itemMobileLanguageDropDown{
                    padding: 10px 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                  }
               
              }
    
            }
        }
  }








